{% extends 'flatpages/default.html' %}

{% block title %}
    Logout
{% endblock title %}

{% block load %}
    {% load static %}
    {% load custom_filters %}
    {% load cache %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock load %}

{% block content %}
    {% cache 300 nav%}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
            <div class="container px-4">
                <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                </div>
            </div>
        </nav>
    {% endcache %}

        <section>
            <h2>You signed out</h2>
            <h3><a href="/">Simple SignUp/SignIn app</a></h3>
        </section>

    {% cache 300 footer%}
        <footer class="py-5 bg-dark">
            <div class="container px-4"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
    {% endcache %}
{% endblock content %}