{% extends 'flatpages/default.html' %}

{% block title %}
    Subscribe
{% endblock title %}

{% block load %}
    {% load static %}
    {% load custom_filters %}
    {% load custom_tags %}
    {% load cache %}
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
{% endblock load %}

{% block content %}
    {% cache 300 nav%}
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container px-lg-5">
                <a class="navbar-brand" href="#!">News Portal</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active" aria-current="page" href="#!">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endcache %}
        <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
            <h1>Subscribe Categories</h1>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Save" class="btn btn-primary btn-lg">
            </form>
        </div>
    {% cache 300 footer%}
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2023</p></div>
        </footer>
    {% endcache %}
{% endblock content %}